h1 {
  text-align: center;
  color: cornflowerblue;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}  
img {
  width: 70%;
  height: auto;
}

.chiaShake {
  width: 70%;
  height: auto;
}